@keyframes wavePingPong {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-wavePingPong {
  animation: wavePingPong 12s ease-in-out infinite;
}
